body {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

h1 {
  text-align: center;
  font-family: helvetica;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 40px;
  border: 2px solid rgb(71, 70, 70);
  border-radius: 7px;
  margin: 0 auto;
  background-color: black;
  transition: background-color 0.3s, color 0.3s;
}

h1:hover {
  background-color: white;
  color: black;
}

p {
  margin-top: 30px;
  font-family: helvetica;
  font-size: 14px;
  line-height: 1.7;
  color: rgb(86, 84, 84);
}
.plantType,
.plantCare {
  color: rgb(47, 45, 45);
}

.container {
  max-width: 600px;

  margin: 0 auto;

  background-color: white;

  padding: 20px;

  border: 1px solid #ccc;

  border-radius: 5px;
}

.plant-animation {
  width: 200px;

  height: 200px;

  background-image: url('https://media.istockphoto.com/id/178832686/es/foto/opuntia-cactus-aislado-sobre-fondo-blanco.jpg?s=170667a&w=0&k=20&c=GBD3O5UBySAvNtz0dgODCS5WzOgr4eI3TH8kozIK5Vo=');

  background-size: cover;
  animation: movePlant 15s linear infinite;

  margin: 0 auto;

  margin-top: 90px;
  border-radius: 50%;
}

@keyframes movePlant {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

#backButton {
  width: 30px;
  height: 30px;
  margin: 40px;
  cursor: pointer;
}
#backButton:hover {
  transform: translateX(-5px);
}
.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.titleImage {
  height: 50px;
}
